<div class="container">
   <a id=par1>Welcome to weapon registration app, the home of all weapons and gun systems known to man!</a>
   
   <img src="https://png2.kisspng.com/sh/2d407ea27f9732423bbabd86836b4eca/L0KzQYi4UsIxN5x4kJGAYUO8doftVsZlPWM5S5C8OUS4RoaBWcE2OWQ8TKo7MUS3RIiBVMQ2Pl91htk=/5a39f6f66d5243.39456589151374821444784456.png" alt="">
   <a id=par2> Military history is a humanities discipline within the scope of general historical recording of armed conflict in the history of humanity, and its impact on the societies, cultures and economies thereof, as well as the resulting changes to local and international relationships.

        Professional historians normally focus on military affairs that had a major impact on the societies involved as well as the aftermath of conflicts, while amateur historians and hobbyists often take a larger interest in the details of battles, equipment and uniforms in use.
        
        The essential subjects of military history study are the causes of war, the social and cultural foundations, military doctrine on each side, the logistics, leadership, technology, strategy, and tactics used, and how these changed over time. On the other hand, Just War Theory explores the moral dimensions of warfare, and to better limit the destructive reality caused by war, seeks to establish a doctrine of military ethics.
        
        
        
        </a>
</div>