#form3{
    padding:50px;
    padding-left: 500px;
    padding-right: 500px;
}
#form2{
    padding:50px;
    padding-left: 500px;
    padding-right: 500px;
}
#text2{
    color: white;
    padding-left: 500px;
    padding-right: 500px;
    font-size: 35px;
}
#logindiv{
    padding-left: 500px;
    padding-right: 500px;
    
}
