<div id=logindiv>
  <div id=div1 class="form-group">
    <label id=username1>USERNAME</label>
    <input name="UserName1" #UserName="ngModel" [(ngModel)]="service.formData.UserName" class="form-control">
    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field must be full!</div>
  </div>
  <div class="form-group">
      <label id=password1>PASSWORD</label>
      <input name="Password1" #Password="ngModel" [(ngModel)]="service.formData.Password" class="form-control">
      <div class="validation-error" *ngIf="Password.invalid && UserName.touched">This field must be full!</div>
      
  </div>
<div class="form-group1">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">LOGIN</button>
      </div>
  </div>
<a id=text2>Or just simply register if you dont have an account already</a>

<form id=form3 #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <div id=div1 class="form-group">
    <label id=username>USERNAME</label>
    <input name="UserName" #UserName="ngModel" [(ngModel)]="service.formData.UserName" class="form-control">
    <div class="validation-error" *ngIf="UserName.invalid && UserName.touched">This field must be full!</div>
  </div>
  <div class="form-group">
      <label id=password>PASSWORD</label>
      <input name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password" class="form-control">
      <div class="validation-error" *ngIf="Password.invalid && UserName.touched">This field must be full!</div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label id=firstname>FIRST NAME</label>
        <input name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.FirstName" class="form-control">
        <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This field must be full!</div>
      </div>
      <div class="form-group col-md-6">
          <label id=lastname>LAST NAME</label>
          <input name="LastName" #LastName="ngModel" [(ngModel)]="service.formData.LastName" class="form-control">
          <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This field must be full!</div>
        </div>
        
     </div>
     <div class="form-group">
      <label id=email>E-MAIL</label>
      <input name="Email" #Email="ngModel" [(ngModel)]="service.formData.Email" class="form-control">
      <div class="validation-error" *ngIf="Email.invalid && Email.touched">This field must be full!</div>
    </div>
     <div class="form-group">
          <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
        </div>
      </form>