<nav class="navbar navbar-light bg-dark">  
  <span class="navbar-brand mb-0 h1 text-light">Weapon Registration App</span>  
</nav>
<nav class="navbar navbar-light" style="background-color:rgb(255, 94, 0);">  
    <span class="navbar-brand mb-0 h1 text-light"><i class="fas fa-award"></i> Welcome</span>  
    <span class="mr-auto"></span>
    <button class="btn btn2 mr-2" routerLink="/home">Home</button> 
    <button class="btn btn2 mr-2" routerLink="/weapons">Add/delete</button>
    <button class="btn btn1 mr-2" routerLink="/sign-up">Sign-up</button> 
    <button class="btn btn-info mr-2" routerLink="/about">About</button>  
    <button class="btn btn-info" routerLink="/contact">Contact</button> 
    
  </nav>  